# Copy this file to .github/CODEOWNERS in each org repo.
# Syntax reference: https://docs.github.com/articles/about-code-owners

# Default reviewers for everything in the repo.
*       @Muzammil-crypto @MSafyan @Qurat-ul-ainnn
